# ===== .NET =====
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
artifacts/
*.dll
*.exe
*.pdb
*.cache
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates
*.nupkg
*.snupkg
packages/
!**/packages/build/
project.lock.json
project.fragment.lock.json
TestResults/
[Tt]est[Rr]esult*/
coverage/
.vs/
*.received.*
*.dotCover

# Rider
.idea/
*.sln.iml

# ===== Angular / Node =====
node_modules/
dist/
out-tsc/
bazel-out/
.angular/
.angular/cache/
.sass-cache/
connect.lock
libpeerconnection.log
testem.log
typings/
__screenshots__/
.history/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ===== System / Editors =====
.DS_Store
Thumbs.db
*.swp
*.launch
.settings/
.project
.classpath
